
<!DOCTYPE html>
<html>
<head>
    <title>三月飞</title>
    {include file='public/head' }

    <link href="../../static/student/css/detail.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="common_header_nav">
    <div class="content">
        <div class="left">
            <img src="../../static/images/logo.png">

            <text>三月飞</text>
        </div>
        <div class="middle">
            <ul>
                {volist name='menu' id='menu'}
                    <li>
                        {if condition="$menu.c==$controller"}
                            <a href="{:url('index/'.$menu['c'].'/index')}" class="olda on">
                            {$menu['name']}
                            <div class="none block"></div>
                            </a>
                        {else /}
                            <a href="{:url('index/'.$menu['c'].'/index')}" class="olda">
                            {$menu['name']}
                            <div class="none"></div>
                            </a>
                        {/if}
                        
                    </li>
                {/volist}
                

            </ul>
        </div>
        <div class="right">
            <div class="search">
                <input type="password" hidden autocomplete=“new-password”>
                <input id="searchval" type="text" value="" placeholder="课程、讲师" />
                <button id="search">搜索</button>
            </div>

            <div class="login">
                {if condition="$isLog == 0"}
                    <div class="log_or_reg">登录/注册</div>
                {else /}
                    <div class="login_info">
                        <img class="avatar" src="../../static/images/default.png">

                        <div class="drop_down none">
                            <div class="li1"><a href="/index/mine/index">我的课程</a></div>
                            <div class="li2"><a id="logout" href="javacript:void(0);">退出登录</a></div>
                        </div>
                    </div>
                {/if}
            </div>
        </div>
    </div>


</div>
<div class="common_garde ">
    <div class="content">
        <div class="tips">
            <div class="text1">请选择你想看的学习阶段</div>
            <div class="text2">随时可以更改，请放心选择</div>
        </div>
        <div class="grade">
            <div class="list">
                <div class="left">小学</div>
                    <div class="right">
                            <div data-id="2" style="cursor:pointer;" class="li ">一年级</div>
                            <div data-id="3" style="cursor:pointer;" class="li on">二年级</div>
                            <div data-id="16" style="cursor:pointer;" class="li ">三年级</div>
                            <div data-id="5" style="cursor:pointer;" class="li ">四年级</div>
                            <div data-id="6" style="cursor:pointer;" class="li ">五年级</div>
                            <div data-id="7" style="cursor:pointer;" class="li ">六年级</div>
                    </div>
                <div class="left">初中</div>
                    <div class="right">
                        <div data-id="9" style="cursor:pointer;" class="li ">初一</div>
                        <div data-id="10" style="cursor:pointer;" class="li ">初二</div>
                        <div data-id="15" style="cursor:pointer;" class="li ">初三</div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--登录页面-->
    <div class="common_login none">
        <div class="content">
            <div class="close">
                <img class="imgx" src="../../static/student/images/common/login_cha.png">
            </div>
            
            <div class="sitename">登录三月飞课堂</div>

            <div class="info">
                <div class="type">
                    
                    <div class="logintype">
                        <a href="javacript:void(0);">
                            <text class="c969696 black">密码登录</text>
                            <div class="heng"></div>
                        </a>
                    </div>
                    <div class="logintype">
                        <a href="javacript:void(0);">
                            <text class="c969696">验证码登录</text>
                            <div class="heng none"></div>
                        </a>
                    </div>
                </div>

                <div class="inputs">
                    <input type="text" class="input1" value="" placeholder="请输入手机号" value="13800000000" />
                    <input type="password" class="input2" value="" placeholder="请输入密码" value="123456" />
                    <div class="forget">忘记密码</div>
                </div>

                <div class="inputs1 none">
                    <input class="input3" value="" placeholder="请输入手机号" />
                    <div>
                        <input class="input4" value="" placeholder="请输入验证码" />
                        <div class="getLoginCode"><a href="javacript:void(0);" class="on">获取验证码</a></div>
                    </div>
                    <div class="forget">忘记密码</div>
                </div>


                <button class="login">登录</button>

                <div class="tips">还没有账号？<text class="goreg"><a href="javacript:void(0);" class="on">立即注册</a></text></div>

                <div class="third">
                </div>

            </div>
        </div>
        <div class="content none">
            <div class="close">
                <img class="imgfan" src="../../static/student/images/common/login_fan.png">
            </div>
            
            <div class="sitename">忘记密码</div>

            <div class="info">

                <div class="inputs3">
                    <input type="text" class="input8" value="" placeholder="请输入手机号" />
                    <div>
                        <input type="text" class="input9" value="" placeholder="请输入验证码" />
                        <div class="getForgetCode"><a href="javacript:void(0);" class="on">获取验证码</a></div>
                    </div>

                    <input type="password" class="input10" value="" placeholder="请设置密码" />
                </div>

                <button class="fortrue">确定</button>


                <div class="third" style="margin-top: 45px;">
                    
                </div>

            </div>
        </div>
        <div class="content none">
            <div class="close">
                <img class="imgx" src="../../static/student/images/common/login_cha.png">
            </div>
            

            <div class="sitename">欢迎注册三月飞课堂</div>



            <div class="info">

                <div class="inputs2">
                    <input type="text" name="user_name" class="input20" placeholder="请输入用户名" /><br>
                    <input type="text" name="mobile" class="input5" placeholder="请输入手机号" />
                    <div>
                        <input type="text" name="code" class="input6" value="" placeholder="请输入验证码" />
                        <div class="getRegCode"><a href="javacript:void(0);" class="on">获取验证码</a></div>
                    </div>

                    <input type="password" name="user_pwd" class="input7" placeholder="请设置密码" />
                </div>

                <button class="reg">立即注册</button>

                <div class="tips">已有账号？<text class="gologin"><a href="javacript:void(0);" class="on">马上登录</a></text></div>

                <div class="third">
            </div>

            </div>
        </div>
    </div>
        
    <div class="common_addr none">
    <div class="common_addr_content">
        <div class="common_addr_content_top">
            <text>收货地址</text>
            <text class="common_addr_content_top_tips">（请如实填写，课程教材将以此地址邮寄）</text>
            <img class="common_addr_content_top_img" src="../../static/student/images/common/black_cha.png">
        </div>
        <div>
            <form id="addr">
                <div class="common_addr_content_li" style="margin-top: 30px;">
                    <text class="common_addr_content_li_xing" style="position: relative;bottom: 14px;">*</text>
                    <text class="common_addr_content_li_text" style="position: relative;bottom: 14px;">地址信息：</text>

                    <a href="javascript:void(0)" style="display: inline-block;font-size: 15px;" class="pick-area pick-area1" name="省/市/区"></a>

                    <!-- <input class="common_addr_content_li_input" readonly type="text" placeholder="选择省/市/区"> -->
                </div>
                <div class="common_addr_content_li">
                    <text class="common_addr_content_li_xing" style="position: relative;bottom: 55px;">*</text>
                    <text class="common_addr_content_li_text" style="position: relative;bottom: 55px;">详细地址：</text>
                    <textarea class="common_addr_content_li_textarea" name="textarea" placeholder="请输入详细地址，如道路、门牌号、小区、楼栋号、单元等信息"></textarea>
                </div>
                <div class="common_addr_content_li">
                    <text class="common_addr_content_li_xing" style="margin-left: 35px;">*</text>
                    <text class="common_addr_content_li_text">收货人姓名：</text>
                    <input class="common_addr_content_li_input" type="text" name="name" placeholder="请填写姓名" value="">
                </div>
                <div class="common_addr_content_li">
                    <text class="common_addr_content_li_xing">*</text>
                    <text class="common_addr_content_li_text">手机号码：</text>
                    <input class="common_addr_content_li_input" type="text" name="phone" placeholder="请填写手机号码" value="">
                </div>

                <button class="common_addr_content_sub" type="button">确认地址</button>
            </form>
            
        </div>
    </div>
</div>


    <div class="detail_substance">
        <div class="top">
            <div class="content">
                <img class="thumb" src="{$course.img}">
                <div class="msg">
                    <div class="des">
                        {$course.title}
                        <text>{$course.type}</text>
                    </div>
                    <div class="msgnum" style="margin-top: -15px;width: 500px;">
                        <text style="font-size: 30px;color: red;">{$course.course_num}个免费名额等你来抢！</text>
                    </div>
                    <div class="tmsg">
                        
                        <span class="msg0">
                            <img src="../../static/images/default.png">
                            <span>
                                <div class="avatar">{$course.teacher_id}</div>
                                <div class="tip">主讲老师</div>
                            </span>
                            
                        </span>
                    </div>
                    <div class="mian" id="countdown" style="margin-top: 25px;font-size: 20px">倒计时：</div>
                    <button class="enterlive" id="miaosha" value="1" disabled="disabled" style="cursor: not-allowed;background-color: gray;width: 150px;font-size: 20px;height: 50px">秒杀</button>
                </div>
            </div>
        </div>
        <div class="bcontent">
            <div class="nav">
                <a class="text js b_fff" href="javascript:void(0);">介绍</a>
            </div>
            <div class="area1">
                <div class="tip">
                    <text>内容介绍</text>
                </div>
                <div class="detail">
                    <p>优秀写作课</p>
                </div>
                <div class="tip">
                    <text>讲师介绍</text>
                </div>
                <div class="teacherinfo">
                    <a href="/student/teachers/detail?touid=47"><img class="avatar" src="../../static/images/default.png"></a>
                    <div class="info">
                        <div class="name">
                            <text>{$course.teacher_id}</text>
                            <text class="text1">主讲老师</text>
                        </div>
                        <div class="textarea1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {include file='public/footer' }
{include file='public/foot' }

    <script src="../../static/student/js/pick-pcc.min.1.0.1.js"></script>
    <script>
        $(".pick-area1").pickArea();
    </script>
    <script src="../../static/student/js/detail.js"></script>
    <script type="text/javascript">
        $(function(){
            // 获取倒计时时间
            setInterval(gettime,1000);

            $('#miaosha').click(function(){
                // 判断是否登录，未登录则跳转至登录页面
                $.get('isLogin',function(data,status){
                    if(status == 'success'){
                        if(data == ''){
                            window.location.href="{:url('index/login/login')}";
                        }
                    }
                });
                // 判断是否到时间，如果没到时间，不往下进行
                $.get("getTime",function(data){
                    if(data.time > 0){
                        layer.msg('秒杀暂未开始');
                        exit;
                    }else{
                        var click  = localStorage.getItem('clk');
                        // if(click > 1)
                        localStorage.setItem("clk", 1);
                        var val = $('#miaosha').attr('value');
                        // 限制只能点一次
                        $.get('/go/'+data.url+'/order', {val:val}, function(res,status){
                            layer.msg(res.msg);
                        });
                    }
                });
            });
        });

        function gettime()
        {
            $.get("getTime",function(data){
                if(data.time >= 0){
                    $("#countdown").html('倒计时：' + data.hour + '时' + data.min + '分' + data.sec + '秒');
                }else{
                    $("#countdown").html('点击下方按钮开始秒杀！');
                    $("#miaosha").html('秒杀');
                    $("#miaosha").css('background-color', 'rgb(56,218,166)');
                    $("#miaosha").css('cursor', 'pointer');
                    $('#miaosha').removeAttr("disabled"); // 移除disabled属性
                }
            });
        }
        function test()
        {
            alert('test');
        }
    </script>
    <style type="text/css">
    </style>
</body>
</html>
