<div class="common_footer">
    <div class="content">
        <div class="left">
            <img src="../../static/images/logo.png">
            <div class="text">三月飞</div>
        </div>
        <div class="next">
            <div class="text">官方QQ群</div>
                <img src="../../static/images/qq_qun.png">
        </div>
        <div class="middle">
            <div class="text">官方微信</div>
            
        </div>
        <div class="right">
            <div class="right_guanyu_title">关于我们</div>
            <div class="text1"><a href="/student/index/liaojie/flag/1.html">了解万岳</a></div>
            <div class="text2"><a href="/student/index/liaojie/flag/2.html">联系我们</a></div>
            <div class="text3"><a href="/student/index/liaojie/flag/3.html">如何购买</a></div>
        </div>
    </div>

    <div class="you_url">
        <div class="li"><text>友情链接</text></div>
        <div class="li"><text>友情链接</text></div>
        <div class="li"><text>友情链接</text></div>
        <div class="li"><text>友情链接</text></div>
        <div class="li"><text>友情链接</text></div>
        <div class="li"><text>友情链接</text></div>
        <div class="li"><text>友情链接</text></div>
        <div class="li" style="border: 0;"><text>友情链接</text></div>

    </div>
    <div class="copyright">
        版权信息 三月飞    </div>
</div>