<div class="common_header_nav">
    <div class="content">
        <div class="left">
            <img src="../../static/images/logo.png">

            <text>三月飞</text>
        </div>
        <div class="middle">
            <ul>
                {volist name='menu' id='menu'}
                    <li>
                        {if condition="$menu.c==$controller"}
                            <a href="{:url('index/'.$menu['c'].'/index')}" class="olda on">
                            {$menu['name']}
                            <div class="none block"></div>
                            </a>
                        {else /}
                            <a href="{:url('index/'.$menu['c'].'/index')}" class="olda">
                            {$menu['name']}
                            <div class="none"></div>
                            </a>
                        {/if}
                        
                    </li>
                {/volist}
                

            </ul>
        </div>
        <div class="right">
            <div class="search">
                <input type="password" hidden autocomplete=“new-password”>
                <input id="searchval" type="text" value="" placeholder="课程、讲师" />
                <button id="search">搜索</button>
            </div>

            <div class="login">
                {if condition="$isLog == 0"}
                    <div class="log_or_reg">登录/注册</div>
                {else /}
                    <div class="login_info">
                        <img class="avatar" src="../../static/images/default.png">

                        <div class="drop_down none">
                            <div class="li1"><a href="/index/mine/index">我的课程</a></div>
                            <div class="li2"><a id="logout" href="javacript:void(0);">退出登录</a></div>
                        </div>
                    </div>
                {/if}
            </div>
        </div>
    </div>


</div>
<div class="common_garde ">
    <div class="content">
        <div class="tips">
            <div class="text1">请选择你想看的学习阶段</div>
            <div class="text2">随时可以更改，请放心选择</div>
        </div>
        <div class="grade">
            <div class="list">
                <div class="left">小学</div>
                    <div class="right">
                            <div data-id="2" style="cursor:pointer;" class="li ">一年级</div>
                            <div data-id="3" style="cursor:pointer;" class="li on">二年级</div>
                            <div data-id="16" style="cursor:pointer;" class="li ">三年级</div>
                            <div data-id="5" style="cursor:pointer;" class="li ">四年级</div>
                            <div data-id="6" style="cursor:pointer;" class="li ">五年级</div>
                            <div data-id="7" style="cursor:pointer;" class="li ">六年级</div>
                    </div>
                <div class="left">初中</div>
                    <div class="right">
                        <div data-id="9" style="cursor:pointer;" class="li ">初一</div>
                        <div data-id="10" style="cursor:pointer;" class="li ">初二</div>
                        <div data-id="15" style="cursor:pointer;" class="li ">初三</div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--登录页面-->
    <div class="common_login none">
        <div class="content">
            <div class="close">
                <img class="imgx" src="../../static/student/images/common/login_cha.png">
            </div>
            
            <div class="sitename">登录三月飞课堂</div>

            <div class="info">
                <div class="type">
                    
                    <div class="logintype">
                        <a href="javacript:void(0);">
                            <text class="c969696 black">密码登录</text>
                            <div class="heng"></div>
                        </a>
                    </div>
                    <div class="logintype">
                        <a href="javacript:void(0);">
                            <text class="c969696">验证码登录</text>
                            <div class="heng none"></div>
                        </a>
                    </div>
                </div>

                <div class="inputs">
                    <input type="text" class="input1" value="" placeholder="请输入手机号" value="13800000000" />
                    <input type="password" class="input2" value="" placeholder="请输入密码" value="123456" />
                    <div class="forget">忘记密码</div>
                </div>

                <div class="inputs1 none">
                    <input class="input3" value="" placeholder="请输入手机号" />
                    <div>
                        <input class="input4" value="" placeholder="请输入验证码" />
                        <div class="getLoginCode"><a href="javacript:void(0);" class="on">获取验证码</a></div>
                    </div>
                    <div class="forget">忘记密码</div>
                </div>


                <button class="login">登录</button>

                <div class="tips">还没有账号？<text class="goreg"><a href="javacript:void(0);" class="on">立即注册</a></text></div>

                <div class="third">
                </div>

            </div>
        </div>
        <div class="content none">
            <div class="close">
                <img class="imgfan" src="../../static/student/images/common/login_fan.png">
            </div>
            
            <div class="sitename">忘记密码</div>

            <div class="info">

                <div class="inputs3">
                    <input type="text" class="input8" value="" placeholder="请输入手机号" />
                    <div>
                        <input type="text" class="input9" value="" placeholder="请输入验证码" />
                        <div class="getForgetCode"><a href="javacript:void(0);" class="on">获取验证码</a></div>
                    </div>

                    <input type="password" class="input10" value="" placeholder="请设置密码" />
                </div>

                <button class="fortrue">确定</button>


                <div class="third" style="margin-top: 45px;">
                    
                </div>

            </div>
        </div>
        <div class="content none">
            <div class="close">
                <img class="imgx" src="../../static/student/images/common/login_cha.png">
            </div>
            

            <div class="sitename">欢迎注册三月飞课堂</div>



            <div class="info">

                <div class="inputs2">
                    <input type="text" name="user_name" class="input20" placeholder="请输入用户名" /><br>
                    <input type="text" name="mobile" class="input5" placeholder="请输入手机号" />
                    <div>
                        <input type="text" name="code" class="input6" value="" placeholder="请输入验证码" />
                        <div class="getRegCode"><a href="javacript:void(0);" class="on">获取验证码</a></div>
                    </div>

                    <input type="password" name="user_pwd" class="input7" placeholder="请设置密码" />
                </div>

                <button class="reg">立即注册</button>

                <div class="tips">已有账号？<text class="gologin"><a href="javacript:void(0);" class="on">马上登录</a></text></div>

                <div class="third">
            </div>

            </div>
        </div>
    </div>

<!--banner-->
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="http://www.zhenedu.com/"><img class="img" src="../../uploads/index/20211215/163a5f1427b2a2fd30999ed70da2793b.png"></a></div>
            <div class="swiper-slide"><a href="http://www.zhenedu.com/"><img class="img" src="../../uploads/index/20211215/08fccd2976e271a05fcddfd6a887177b.png"></a></div>
            <div class="swiper-slide"><a href="http://www.zhenedu.com/"><img class="img" src="../../uploads/index/20211215/e2959a45b8ae12d3eb05c123042c6ccb.png"></a></div>
            <div class="swiper-slide"><a href="http://www.zhenedu.com/"><img class="img" src="../../uploads/index/20211215/3d02172ad70acc1e2c2d00fd6cca8998.png"></a></div>
    </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>