    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <!-- HTML5 shim for IE8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link href="../../static/home/css/common.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        //全局变量
        var GV = {
            ROOT: "/",
            WEB_ROOT: "/",
            JS_ROOT: "static/js/"
        };
    </script>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/wind.js"></script>
	
    <link href="../../static/student/css/common.css" rel="stylesheet" type="text/css">
    <link href="../../static/swiper/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="../../static/student/css/pick-pcc.min.1.0.1.css" rel="stylesheet" type="text/css">